@font-face {
    font-family: 'FrutigerLTArabic';
    src: url('fonts/FrutigerLTArabic.eot');
    src: url('fonts/FrutigerLTArabic.eot') format('embedded-opentype'),
         url('fonts/FrutigerLTArabic.woff2') format('woff2'),
         url('fonts/FrutigerLTArabic.woff') format('woff'),
         url('fonts/FrutigerLTArabic.ttf') format('truetype'),
         url('fonts/FrutigerLTArabic.svg#FrutigerLTArabic') format('svg');
}
