@font-face {
font-family: 'iliass';
src: url('http://www.kirsle.net/wizards/ttf2eot-temp/4e30e08c22a185ac7dba036ed1ffad9f/Hacen_Tunisia.eot');
src: url('http://www.kirsle.net/wizards/ttf2eot-temp/4e30e08c22a185ac7dba036ed1ffad9f/Hacen_Tunisia.eot?') format('embedded-opentype'),
url('https://4youpro.googlecode.com/files/Hacen%20Tunisia.woff') format('woff'),
url('https://4youpro.googlecode.com/files/Hacen%20Tunisia.ttf') format('truetype'); }
